$darkmode: true;
$primary: #e1c64b;
$onPrimary: #3a3000;
$primaryContainer: #544600;
$onPrimaryContainer: #ffe264;
$secondary: #d1c6a1;
$onSecondary: #363016;
$secondaryContainer: #4e472b;
$onSecondaryContainer: #eee2bc;
$tertiary: #a9d0b3;
$onTertiary: #153723;
$tertiaryContainer: #2c4e38;
$onTertiaryContainer: #c5ecce;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #11100D;
$background: #11100D;
$onBackground: #e8e2d9;
$surface: #1d1b16;
$onSurface: #e8e2d9;
$surfaceVariant: #4b473a;
$onSurfaceVariant: #cdc6b4;
$outline: #969080;
$shadow: #000000;
$inverseSurface: #e8e2d9;
$inverseOnSurface: #32302a;
$inversePrimary: #6f5d00;
